{% extends 'base.html.twig' %}

{% block title %}Boutique - Admin
{% endblock %}

{% block body %}
	<div class="blockPage">
		<section class="shopAdminView">
			<h1>Gérez des pâtes !</h1>
			<div>

				<article class="block-category">
					<h2>
						<a href="{{ path('app_category_index') }}">Toutes les catégories</a>
					</h2>

					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Catégories</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>

						<tbody class="table-group-divider">
							{% for category in categories %}
								<tr>
									<th scope="row">
										{{ category.id }}
									</th>
									<td class="cat">
										<form method="post" action="{{ path('app_category_edit', {'id': category.id}) }}">
											<input type="text" name="name" value="{{ category.name }}"></td>
									</td>
									<td class="groupe-button-pic">
											<button class="btn btn-sm">
												<i class="fa-solid fa-pen-to-square" title="modifier"></i>
											</button>
										</form>
									</td>
									<td>
										<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ? Attention, cela supprimera tous les articles liés.');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
											<button class="btn btn-sm">
												<i class="fa-solid fa-trash-can" title="supprimer"></i>
											</button>
										</form>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="5">aucun objet trouvé</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

<div class="add-button"><a class="btn btn-sm" href="{{ path('app_category_new') }}">Ajouter une catégorie</a></div></article><article class="block-category"><h2>Tous les produits :</h2><table class="table table-hover"><thead>
<tr>
	<th scope="row">#</th>
	<th scope="row">Nom</th>
	<th scope="row">Catégorie</th>
	<th scope="row">Actions</th>
</tr></thead><tbody class="table-group-divider">
{% for product in products %}
	<tr>
		<th scope="row">
			<a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.id }}</a>
		</th>
	</tr>
</td>
<td>
	<a href="{{ path('app_product_show', {'id': product.id}) }}">{{ product.name }}</a>
</td>
<td>{{ product.category.name }}</td>
<td
	class="groupe-button-pic">
	{# <a class="btn btn-sm" href="{{ path('app_product_show', {'id': product.id}) }}"><i class="fa-regular fa-eye" title="voir"></i></i></a> #}
	<a class="btn btn-sm" href="{{ path('app_product_edit', {'id': product.id}) }}">
		<i class="fa-solid fa-pen-to-square" title="modifier"></i>
	</a>
	<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
		<button class="btn btn-sm">
			<i class="fa-solid fa-trash-can" title="supprimer"></i>
		</button>
	</form>
</td></tbody></tr>{% else %}<tr><td colspan="5">aucun objet trouvé</td></tr>{% endfor %}</tbody></table><div class="add-button"><a class="btn btn-sm" href="{{ path('app_product_new') }}">Ajouter un article</a></div></article></div></section></div> {% endblock %}
