{% extends 'base.html.twig' %}

{% block title %}Boutique - Admin{% endblock %}

{% block body %}
    <div class="blockPage shopView">
        <h1>Liste des articles</h1>

        <div class="block-category">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Catégorie</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for product in products %}
                    <tr>
                        <th>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td class="cat" >{{ product.category.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            {% for picture in product.gallery %}
                                {% if picture == product.gallery.first %}
                                    <img src="{{ asset ('uploads/images_directory/'~picture.picture) }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ product.price }}</td>
                        <td class="groupe-button-pic">
                            <a class="btn btn-sm" href="{{ path('app_product_show', {'id': product.id}) }}"><i class="fa-regular fa-eye" title="voir"></i></i></a>
                            <a class="btn btn-sm" href="{{ path('app_product_edit', {'id': product.id}) }}"><i class="fa-solid fa-pen-to-square" title="modifier"></i></a>
                            <form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                <button class="btn btn-sm"><i class="fa-solid fa-trash-can" title="supprimer"></i></button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="groupe-button-option">
                <a class="btn btn-sm" href="{{ path('app_shop_admin') }}">Retour aux catégories</a>
                <a class="btn btn-sm" href="{{ path('app_product_new') }}">Ajouter un article</a>
            </div>
        </div>
    </div>
{% endblock %}
