<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="noindex, nofollow">
		<title>
			{% block title %}Pâtes fraîches de Savoie
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# Boostrap #}
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
			{# Google Font Lato #}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
			{# CSS #}
			<link href="{{asset('./asset/style.css')}}" rel="stylesheet">
			{{ encore_entry_link_tags('app') }}

		{% endblock %}

		{% block javascripts %}
			<!--Font Awesome 6-->
			<script src="https://kit.fontawesome.com/267127ee95.js" crossorigin="anonymous"></script>
			<!--Bootstrap-->
			<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
			<!-- JS -->
			<script defer src="{{asset('./asset/script.js')}}"></script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-toggler">
				<ul class="nav">
					<li class="nav-item dropdown">
						<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
					</li>
					{% if is_granted("ROLE_ADMIN") %}
						<li class="nav-item dropdown">
							<a class="nav-link" href="{{ path('app_shop_admin') }}">Boutique Admin</a>
						</li>
					{% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link" href="{{ path('app_shop_user') }}">Boutique</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
					</li>
				</ul>

				{% if not app.user %}
					<ul class="nav">
						<li class="nav-item dropdown">
							<a class="btn" href="{{ path('app_login') }}" class="dropdown-item">Connexion</a>
						</li>
					</ul>
				{% endif %}

				{% if app.user %}
					<ul class="nav dropdown-menu-end">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon Compte</a>
							<ul class="dropdown-menu dropdown-menu-end">
								<li>
									<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="dropdown-item text-center">Profil</a>
								</li>
								<li>
									<a href="{{ path('app_basket', {'id': app.user.id}) }}" class="dropdown-item text-center">Panier</a>
								</li>
								<li class="divider"><hr class="dropdown-divider"></li>
								<li>
									<a href="{{ path('app_logout') }}" class="dropdown-item text-center">Déconnexion</a>
								</li>
							</ul>
						</li>
					</ul>
				{% endif %}
			</nav>
		</header>

		<main>
			{% if not is_granted("ROLE_ADMIN") %}
				{{ include('basket/display_cart.html.twig') }}
			{% endif %}
			{% block body %}{% endblock %}
		</main>
	</body>
</html>
